.card {
  /* border: 1px solid rgb(228, 153, 153); */
  /* box-shadow: 5px 4px 10px rgba(113, 109, 109, 0.773); */
  margin: 2rem 0rem;
  padding: 0 1rem;
  /* background-color: rgba(254, 243, 243, 0.62); */
  width: 80%;
}
