.globalPara {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 214, 213);
  /* margin: 0rem 0.5rem 0.5rem 0.5rem; */
  padding: 0 0.5rem;
  border-bottom: 1px solid rosybrown;
  /* border: 1px solid rgba(43, 43, 125, 0.698); */
  /* box-shadow: 3px 2px 5px #aaaaaa; */
}

.globalPara:hover {
  background-color: coral;
  color: #fff;
}
.globalPara img {
  margin-right: 0.5rem;
}

.info {
  width: 100%;
  display: flex;
  align-items: center;
}

.globalPara a {
  text-decoration: none;
}
