.spinner {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.spinner::after {
  content: "";
  display: block;
  width: 8rem;
  height: 8rem;
  margin: 8px;
  border-radius: 50%;
  border: 8px solid rgb(128, 98, 0);
  /* border-color: rgb(115, 0, 128) transparent rgb(55, 128, 0) transparent; */
  border-color: rgba(42, 194, 196, 0.786) transparent rgba(42, 194, 196, 0.786)
    transparent;
  animation: spinner 1.2s linear infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loadingCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 16rem;
}
