.global {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem;
  border-bottom: thick solid lightskyblue;
}

.section-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.globalInfo {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 40%;
  padding: 0 0.5rem;
  min-width: 25rem;
}

.globalPara {
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  background-color: rgb(229, 243, 251);
  border-bottom: 1px solid blue;
  /* margin: 0.1rem; */
  padding: 0rem 1rem;
  /* border: 1px solid rgba(43, 43, 125, 0.698); */
  /* box-shadow: 3px 2px 5px #aaaaaa; */
}
.globalPara:hover {
  background-color: rgb(0, 145, 255);
  color: #fff;
}
.globalPara h3 {
  margin: 0;
  padding: 0rem 0.5rem;
  font-size: 20px;
}

.globalPara p {
  margin: 0;
  padding: 1rem;
  font-size: 20px;
}

.new-coins {
  width: 80%;
  display: flex;
  /* min-width: 35rem; */
}

.globalInfoCoin {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 0 0.5rem;
  margin-left: 0.1rem;
  min-width: 10rem;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  border-bottom: thick solid lightskyblue;
}

.title a {
  font-size: 20px;
  color: rgb(0, 132, 255);
  align-self: flex-end;
  font-weight: bold;
  text-decoration: none;
  font-style: italic;
  /* animation: bump 1000ms infinite ease-out; */
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1.1);
  }

  75% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
