.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  /* padding: 1rem; */
}

.title a {
  font-size: 18px;
  color: rgb(0, 132, 255);
  align-self: flex-end;
  text-decoration: none;
  font-style: italic;
}
