.item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 30%;
  min-width: 25rem;
  max-width: 50rem;
  /* background-color: rgb(248, 231, 191); */
  background-color: rgb(247, 233, 198);
  margin: 1rem;
  padding: 0 1rem 0 1rem;

  /* border-radius: 12px; */
  /* height: 16rem; */
  box-shadow: 10px 10px 5px #aaaaaa;
}
.item a {
  text-decoration: none;
  width: 100%;
}

.pic {
  font-weight: bold;
  font-size: 26px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem 1rem 0 1rem;
}

.pic p {
  margin: 0.5rem 0;
}
.pic img {
  width: 8rem;
  /* height: 8rem; */
  margin-left: 1rem;
  /* border-radius: 30%; */
}

.description {
  font-size: 20px;
  margin: 0.1rem 1rem;
  color: rgb(65, 62, 62);
}

.description p {
  margin: 0.5rem 0 0rem 0;
}

.description p a {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: rgb(37, 37, 247);
  font-style: italic;
}

.duration {
  width: 100%;
  display: flex;
  padding: 0rem 1rem 1rem 1rem;
  justify-content: flex-start;
  align-items: center;
}

.duration img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-right: 1rem;
}
